version: '3.9'

services:
  redis:
    image: redis:alpine
  fastapi_framework_tests:
    build: .
    env_file: test.env
    depends_on:
      - redis
    volumes:
      - ./coverage.xml:/fastapi_framework/coverage.xml